@{
    ViewData["Title"] = "Cadastro";
}
<link rel="stylesheet" href="~/css/cadastro.css">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <div class="principal">
        <form action="">
            <h2 class="title">Cadastrar</h2>
            <div class="pf-pj">
            </div>
            <label for="usuario">Usuário</label>
            <div class="input">
                <i class="fas fa-user"></i>
                <input type="text" id="usuario" placeholder="Usuário" />
            </div>

            <label for="email">Cpf</label>
            <div class="input">
                <i class="fas fa-id-card"></i>
                <input type="text" id="cpf" placeholder="Cpf" />
            </div>

            <label for="email">Email</label>
            <div class="input">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" placeholder="Email" />
            </div>

            <label for="telefone">Telefone</label>
            <div class="input">
                <i class="fas fa-phone"></i>
                <input type="number" id="telefone" placeholder="Telefone" />
            </div>

            <label for="senha">Senha</label>
            <div class="input">
                <i class="fas fa-lock"></i>
                <input type="password" id="senha" placeholder="Senha" />
            </div>

            <div class="btn">
                <button type="submit">Cadastrar</button>
            </div>
            <br>
            <div class="api">
                <button><img src="gmail.webp" alt=""></button>
            </div>
            <div class="pj">
                <label>Pessoa Juridica? <a href="cadastropj.html">Clique aqui</a></label>
            </div>
        </form>
    </div>
</body>


