<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | SmartComfort</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" id="cabecalho">

            <div class="pesqui">
                <form asp-controller="Produto" asp-action="BuscarProduto" method="get" class="form-inline" style="display: flex;">
                    <input type="text" name="termo" placeholder="Busque na Smart Comfort..." aria-label="Buscar">
                    <button type="submit" class="btnpesq">
                        <img src="~/img/icons8-pesquisar-100.png" alt="Pesquisar">
                    </button>
                </form>
            </div>

            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="logo" src="~/img/logo.png" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mx-auto">
                        <!-- Centralizando as opções -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link text-dark" href="#produtos">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Favoritos" asp-action="Favoritos">Favoritos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SobreNos">Sobre Nós</a>
                        </li>
                    </ul>

                    <div class="d-flex">
                        @if (TempData["EmailUsu"] != null)
                        {
                            <a asp-area="" asp-controller="Usuario" asp-action="PainelUsuario">
                                <img class="icone" src="~/img/login.png" alt="Perfil" />
                            </a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Usuario" asp-action="Login">
                                <img class="icone" src="~/img/login.png" alt="Login" />
                            </a>
                        }

                        <a asp-area="" asp-controller="Usuario" asp-action="CarrinhoUsuario">
                            <img class="icone" src="~/img/carrinho.png" alt="Carrinho" />
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/perfil.js" asp-append-version="true"></script>
    <script src="~/js/Carrinho.js" asp-append-version="true"></script>
    <script src="~/js/produtos.js" asp-append-version="true"></script>
    <script src="~/js/mask/jquery.mask.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <footer class="pc">
        <p>© 2024 Smart Comfort. Todos os direitos reservados. Desenvolvido por Sapphire Code.</p>
    </footer>
    <footer class="mob">
        <p>© 2024 Smart Comfort. Todos os direitos reservados.</p>
        <p>Desenvolvido por Sapphire Code.</p>
    </footer>
</body>
</html>