<<<<<<< HEAD
=======
<<<<<<< HEAD
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/cadastroPJ.css">
<body>
    <div class="form">
        <form action="">
            <h2 class="title">Cadastrar</h2>
            <div class="pf-pj"></div>
            <label for="cnpj">Cnpj</label>
            <div class="input">
                <i class="fas fa-id-card"></i>
                <input type="number" id="cnpj" placeholder="Cnpj" />
            </div>

            <label for="razao-social">Razão Social</label>
            <div class="input">
                <i class="fas fa-building"></i>
                <input type="razao-social"
                       id="razao-social"
                       placeholder="Razão Social" />
            </div>

            <label for="telefone">Telefone</label>
            <div class="input">
                <i class="fas fa-phone"></i>
                <input type="number" id="telefone" placeholder="Telefone" />
            </div>

            <label for="email">Email</label>
            <div class="input">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" placeholder="Email" />
            </div>

            <label for="nome-resp">Nome Responsável</label>
            <div class="input">
                <i class="fas fa-user"></i>
                <input type="text" id="razao-social" placeholder="Nome Responsável" />
            </div>

            <div class="btn">
                <button type="submit">Cadastrar</button>
            </div>
            <br />
            <div class="pj">
                <label>Pessoa Física? <a href="cadastro.html">Clique aqui</a></label>
            </div>
        </form>
    </div>
=======
>>>>>>> d3cbea39cbee8d289e531c4471d5e19b01db1b3e
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/cadastroPJ.css">
<body>
    <div class="form">
        <form action="">
            <h2 class="title">Cadastrar</h2>
            <div class="pf-pj"></div>
            <label for="cnpj">Cnpj</label>
            <div class="input">
                <i class="fas fa-id-card"></i>
                <input type="number" id="cnpj" placeholder="Cnpj" />
            </div>

            <label for="razao-social">Razão Social</label>
            <div class="input">
                <i class="fas fa-building"></i>
                <input type="razao-social"
                       id="razao-social"
                       placeholder="Razão Social" />
            </div>

            <label for="telefone">Telefone</label>
            <div class="input">
                <i class="fas fa-phone"></i>
                <input type="number" id="telefone" placeholder="Telefone" />
            </div>

            <label for="email">Email</label>
            <div class="input">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" placeholder="Email" />
            </div>

            <label for="nome-resp">Nome Responsável</label>
            <div class="input">
                <i class="fas fa-user"></i>
                <input type="text" id="razao-social" placeholder="Nome Responsável" />
            </div>

            <div class="btn">
                <button type="submit">Cadastrar</button>
            </div>
            <br />
            <div class="pj">
<<<<<<< HEAD
                <label>Pessoa Física? <a href="cadastro.html">Clique aqui</a></label>
            </div>
        </form>
    </div>
=======
                <label>Pessoa Física?
                    <a asp-area="" asp-controller="Usuario" asp-action="CadastrarPF">
                        Clique aqui
                    </a>
                </label>
            </div>
        </form>
    </div>
>>>>>>> 7f2d5ee (Trazendo algumas telas e deixando responsivas)
>>>>>>> d3cbea39cbee8d289e531c4471d5e19b01db1b3e
</body>