
@{
    ViewData["Title"] = "Perfil";
}

<link rel="stylesheet" href="~/css/perfil.css">

<<<<<<< HEAD
<body>
    <!-- Modal de Alteração de Senha -->
    <div id="modal-senha" class="modal">
        <div class="tudo">
            <div class="voltar">
                <img src="~/img/botao-voltar.png" alt="" onclick="closeSenhaModal()" style="cursor: pointer;">
                <h1>Alteração de Senha</h1>
            </div>
            <div class="dados">
                <div class="org-dados">
                    <div>
                        <label for="senhaAtual">Senha Atual:</label>
                    </div>
                    <input type="password" id="senhaAtual" required>
                </div>
                <div class="org-dados">
                    <div>
                        <label for="novaSenha">Nova Senha:</label>
                    </div>
                    <input type="password" id="novaSenha" required>
                </div>
                <div class="org-dados">
                    <div>
                        <label for="confirmaSenha">Confirmar Nova Senha:</label>
                    </div>
                    <input type="password" id="confirmaSenha" required>
                </div>
            </div>
            <div class="btn-modal">
                <button>Salvar Alteração</button>
            </div>
        </div>
    </div>


    <div id="modal-nome" class="modal-tudo">
        <div class="tudo-tudo">
            <div class="voltar">
                <img src="~/img/botao-voltar.png" alt="" onclick="closeNomeModal()" style="cursor: pointer;">
                <h1>Alteração de Nome</h1>
            </div>
            <div class="org-dados">
                <div>
                    <label for="senhaAtual">Novo nome de usuario:</label>
                </div>
                <input type="text" id="nomeNovo" required>
            </div>

            <div class="btn-modal">
                <button>Salvar Alteração</button>
            </div>
        </div>
    </div>

    <div id="modal-cpf" class="modal-tudo">
        <div class="tudo-tudo">
            <div class="voltar">
                <img src="~/img/botao-voltar.png" alt="" onclick="closeCPFModal()" style="cursor: pointer;">
                <h1>Alteração de CPF</h1>
            </div>
            <div class="org-dados">
                <div>
                    <label for="senhaAtual">Novo CPF:</label>
                </div>
                <input type="text" id="nomeNovo" required>
            </div>

            <div class="btn-modal">
                <button>Salvar Alteração</button>
            </div>
        </div>
    </div>


    <div id="modal-email" class="modal-tudo">
        <div class="tudo-tudo">
            <div class="voltar">
                <img src="~/img/botao-voltar.png" alt="" onclick="closeEmailModal()" style="cursor: pointer;">
                <h1>Alteração de Email</h1>
            </div>
            <div class="org-dados">
                <div>
                    <label for="senhaAtual">Novo Email:</label>
                </div>
                <input type="text" id="nomeNovo" required>
            </div>

            <div class="btn-modal">
                <button>Salvar Alteração</button>
            </div>
        </div>
    </div>

    <div id="modal-numero" class="modal-tudo">
        <div class="tudo-tudo">
            <div class="voltar">
                <img src="~/img/botao-voltar.png" alt="" onclick="closeNumeroModal()" style="cursor: pointer;">
                <h1>Alteração de Número</h1>
            </div>
            <div class="org-dados">
                <div>
                    <label for="senhaAtual">Novo número:</label>
                </div>
                <input type="text" id="nomeNovo" required>
            </div>

            <div class="btn-modal">
                <button>Salvar Alteração</button>
            </div>
        </div>
    </div>

    <div id="modal-numero2" class="modal-tudo">
        <div class="tudo-tudo">
            <div class="voltar">
                <img src="~/img/botao-voltar.png" alt="" onclick="closeNumero2Modal()" style="cursor: pointer;">
                <h1>Alteração de Número 2</h1>
            </div>
            <div class="org-dados">
                <div>
                    <label for="senhaAtual">Novo número:</label>
                </div>
                <input type="text" id="nomeNovo" required>
            </div>

            <div class="btn-modal">
                <button>Salvar Alteração</button>
            </div>
        </div>
    </div>

    <div class="controller">
        <div class="config">
            <div class="ConfigConta">
                <button class="arroz" style="background:none; border: none; cursor: pointer;">
                    <img src="~/img/botao-voltar.png" alt="">
                </button>
                <p class="pConfig">Configurações da conta</p>
            </div>
        </div>
        <div class="info">
            <div class="info-2">
                <p class="pInfo">Informações da conta</p>
                <div class="organization">
                    <div class="org-info">
                        <div class="info-nome" id="org">
                            <p>Nome de usuário: </p>
                            <input type="text" id="TxtNome" disabled>
                        </div>
                        <div class="info-nome-img">
                            <button>
                                <img src="~/img/edit-247.png" alt="" onclick="openNomeModal()">
                            </button>
                        </div>
                    </div>
                    <div class="org-info">
                        <div class="info-nome" id="org">
                            <p>CPF: </p>
                            <input type="text" id="TxtCpf" disabled>
                        </div>
                        <div class="info-nome-img">
                            <button>
                                <img src="~/img/edit-247.png" alt="" onclick="openCPFModal()">
                            </button>
                        </div>
                    </div>
                    <div class="org-info">
                        <div class="info-nome" id="org">
                            <p>Endereço de e-mail: </p>
                            <input type="text" id="TxtEmail" disabled>
                        </div>
                        <div class="info-nome-img">
                            <button>
                                <img src="~/img/edit-247.png" alt="" onclick="openEmailModal()">
                            </button>
                        </div>
                    </div>
                    <div class="org-info">
                        <div class="info-nome" id="org">
                            <p>Número de telefone: </p>
                            <input type="text" id="TxtTelefone" disabled>
                        </div>
                        <div class="info-nome-img">
                            <button>
                                <img src="~/img/edit-247.png" alt="" onclick="openNumeroModal()">
                            </button>
                        </div>
                    </div>
                    <div class="org-info">
                        <div class="info-nome" id="org">
                            <p>Número de telefone 2: </p>
                            <input type="text" id="TxtTelefone-2" disabled>
                        </div>
                        <div class="info-nome-img">
                            <button>
                                <img src="~/img/edit-247.png" alt="" onclick="openNumero2Modal()">
                            </button>
                        </div>
                    </div>
                    <div class="org-info">
                        <div class="info-nome" id="org">
                            <p>Senha: </p>
                            <input type="password" id="TxtSenha" disabled>
                        </div>
                        <div class="info-nome-img">
                            <button onclick="openSenhaModal()">
                                <img src="~/img/edit-247.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrozito">
                <button class="button">Sair da Conta</button>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
=======
<div id="modal-senha" class="modal">
    <div class="tudo">
        <div class="voltar">
            <img src="~/img/botao-voltar.png" alt="" onclick="closeSenhaModal()" style="cursor: pointer;">
            <h1>Alteração de Senha</h1>
        </div>
        <div class="dados">
            <div class="org-dados">
                <div>
                    <label for="senhaAtual">Senha Atual:</label>
                </div>
                <input type="password" id="senhaAtual" required>
            </div>
            <div class="org-dados">
                <div>
                    <label for="novaSenha">Nova Senha:</label>
                </div>
                <input type="password" id="novaSenha" required>
            </div>
            <div class="org-dados">
                <div>
                    <label for="confirmaSenha">Confirmar Nova Senha:</label>
                </div>
                <input type="password" id="confirmaSenha" required>
            </div>
        </div>
        <div class="btn-modal">
            <button>Salvar Alteração</button>
        </div>
    </div>
</div>


<div id="modal-nome" class="modal-tudo">
    <div class="tudo-tudo">
        <div class="voltar">
            <img src="~/img/botao-voltar.png" alt="" onclick="closeNomeModal()" style="cursor: pointer;">
            <h1>Alteração de Nome</h1>
        </div>
        <div class="org-dados">
            <div>
                <label for="senhaAtual">Novo nome de usuario:</label>
            </div>
            <input type="text" id="nomeNovo" required>
        </div>

        <div class="btn-modal">
            <button>Salvar Alteração</button>
        </div>
    </div>
</div>

<div id="modal-cpf" class="modal-tudo">
    <div class="tudo-tudo">
        <div class="voltar">
            <img src="~/img/botao-voltar.png" alt="" onclick="closeCPFModal()" style="cursor: pointer;">
            <h1>Alteração de CPF</h1>
        </div>
        <div class="org-dados">
            <div>
                <label for="senhaAtual">Novo CPF:</label>
            </div>
            <input type="text" id="nomeNovo" required>
        </div>

        <div class="btn-modal">
            <button>Salvar Alteração</button>
        </div>
    </div>
</div>


<div id="modal-email" class="modal-tudo">
    <div class="tudo-tudo">
        <div class="voltar">
            <img src="~/img/botao-voltar.png" alt="" onclick="closeEmailModal()" style="cursor: pointer;">
            <h1>Alteração de Email</h1>
        </div>
        <div class="org-dados">
            <div>
                <label for="senhaAtual">Novo Email:</label>
            </div>
            <input type="text" id="nomeNovo" required>
        </div>

        <div class="btn-modal">
            <button>Salvar Alteração</button>
        </div>
    </div>
</div>

<div id="modal-numero" class="modal-tudo">
    <div class="tudo-tudo">
        <div class="voltar">
            <img src="~/img/botao-voltar.png" alt="" onclick="closeNumeroModal()" style="cursor: pointer;">
            <h1>Alteração de Número</h1>
        </div>
        <div class="org-dados">
            <div>
                <label for="senhaAtual">Novo número:</label>
            </div>
            <input type="text" id="nomeNovo" required>
        </div>

        <div class="btn-modal">
            <button>Salvar Alteração</button>
        </div>
    </div>
</div>

<div id="modal-numero2" class="modal-tudo">
    <div class="tudo-tudo">
        <div class="voltar">
            <img src="~/img/botao-voltar.png" alt="" onclick="closeNumero2Modal()" style="cursor: pointer;">
            <h1>Alteração de Número 2</h1>
        </div>
        <div class="org-dados">
            <div>
                <label for="senhaAtual">Novo número:</label>
            </div>
            <input type="text" id="nomeNovo" required>
        </div>

        <div class="btn-modal">
            <button>Salvar Alteração</button>
        </div>
    </div>
</div>

<div class="controller">
    <div class="config">
        <div class="ConfigConta">
            <button class="arroz" style="background:none; border: none; cursor: pointer;">
                <img src="~/img/botao-voltar.png" alt="">
            </button>
            <p class="pConfig">Configurações da conta</p>
        </div>
    </div>
    <div class="info">
        <div class="info-2">
            <p class="pInfo">Informações da conta</p>
            <div class="organization">
                <div class="org-info">
                    <div class="info-nome" id="org">
                        <p>Nome de usuário: </p>
                        <input type="text" id="TxtNome" disabled>
                    </div>
                    <div class="info-nome-img">
                        <button>
                            <img src="~/img/edit-247.png" alt="" onclick="openNomeModal()">
                        </button>
                    </div>
                </div>
                <div class="org-info">
                    <div class="info-nome" id="org">
                        <p>CPF: </p>
                        <input type="text" id="TxtCpf" disabled>
                    </div>
                    <div class="info-nome-img">
                        <button>
                            <img src="~/img/edit-247.png" alt="" onclick="openCPFModal()">
                        </button>
                    </div>
                </div>
                <div class="org-info">
                    <div class="info-nome" id="org">
                        <p>Endereço de e-mail: </p>
                        <input type="text" id="TxtEmail" disabled>
                    </div>
                    <div class="info-nome-img">
                        <button>
                            <img src="~/img/edit-247.png" alt="" onclick="openEmailModal()">
                        </button>
                    </div>
                </div>
                <div class="org-info">
                    <div class="info-nome" id="org">
                        <p>Número de telefone: </p>
                        <input type="text" id="TxtTelefone" disabled>
                    </div>
                    <div class="info-nome-img">
                        <button>
                            <img src="~/img/edit-247.png" alt="" onclick="openNumeroModal()">
                        </button>
                    </div>
                </div>
                <div class="org-info">
                    <div class="info-nome" id="org">
                        <p>Número de telefone 2: </p>
                        <input type="text" id="TxtTelefone-2" disabled>
                    </div>
                    <div class="info-nome-img">
                        <button>
                            <img src="~/img/edit-247.png" alt="" onclick="openNumero2Modal()">
                        </button>
                    </div>
                </div>
                <div class="org-info">
                    <div class="info-nome" id="org">
                        <p>Senha: </p>
                        <input type="password" id="TxtSenha" disabled>
                    </div>
                    <div class="info-nome-img">
                        <button onclick="openSenhaModal()">
                            <img src="~/img/edit-247.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrozito">
            <button class="button">Sair da Conta</button>
        </div>
    </div>
</div>
>>>>>>> d3cbea39cbee8d289e531c4471d5e19b01db1b3e
