@model Site_SmartComfort.Models.Categoria

@{
    ViewData["Title"] = "CadCategoria";
}

<h1>CadCategoria</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadCategoria">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <label asp-for="NomeCategoria" class="control-label"></label>
                <input asp-for="NomeCategoria" class="form-control" />
                <span asp-validation-for="NomeCategoria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary d-grid gap-2 col-6 mx-auto" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>