@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css">

<body>
    <img id="carrosel" src="~/img/carrosel1.jpeg" />
    <div class="container_btn_carrosel">
        <button class="btn_carrosel" onclick="troca1()"></button>
        <button class="btn_carrosel" onclick="troca2()"></button>
        <button class="btn_carrosel" onclick="troca3()"></button>
    </div>

    <div id="produtos">
        <img src="~/img/produtos/lampada.png">
        <div class="fundo_opcao">
            <img src="~/img/produtos/lampada.png" />
        </div>

    </div>
</body>