@{
    ViewData["Title"] = "Sobre Nós";
}

    <link rel="stylesheet" href="~/css/sobre.css" asp-append-version="true" />

<body>
        <div class="qs">
        <h4>Quem Somos</h4>
        <p>Somos uma equipe de especialistas em automação residencial focada em transformar casas em lares
            inteligentes.Com inovação e excelência, oferecemos soluções personalizadas que integram tecnologia,
            conforto e design, adaptadas ao estilo de vida de cada cliente. 
            </p>
            <p>Além de instalar tecnologia avançada, criamos experiências personalizadas que se adaptam ao ritmo de vida de
            cada um,
            otimizando desde sistemas de entretenimento até eficiência energética. </p>
            <p>
            Com comandos de voz e controles remotos, tornamos as interações diárias simples e prazerosas. </p>
           <p> Nosso trabalho
            é sinônimo de inovação, segurança e conforto,
            enriquecendo vidas ao dar aos clientes o controle de seu
            ambiente com um toque ou comando de voz.</p>

        <img src="https://theonebrief.com/wp-content/uploads/2018/10/casas-inteligentes.jpg" id="img1" alt="">
    </div>

    <section class="missao">
        
        <div class="control">
        <div class="arroz">
            <h3>Missão</h3>
            <p>Oferecer soluções inovadoras e personalizadas de automação residencial </p>
                <p> que proporcionem conforto,segurança e eficiência energética, </p>
              <p>  melhorando significativamente </p>
               <p> a qualidade de vida dos nossos clientes.</p>
             </div>
            <div class="feijao">
            <img src="https://blog.kalunga.com.br/wp-content/uploads/2022/03/casa-inteligente-smart-home.jpg"
                alt="">
            </div>
        </div>
    </section>

    <section class="visao">
       
        <div class="control">
            <div class="feijao">
            <img src="https://bassautomacao.com.br/wp-content/uploads/2019/05/equipamentos-automacao-residencial.jpg"
                alt="">
            </div>
        <div class="arroz">
             <h3>Visão</h3>
            <p>Ser reconhecida como líder no mercado de automação residencial, </p>
             <p>   expandindo nossa presença global através da excelência em tecnologia,</p>
             <p>   atendimento ao cliente e sustentabilidade ambiental.</p>
             </div>
        </div>
    </section>

    <section class="valores">
       
        <div class= "control">
        <div class="arroz">
             <h3>Valores</h3>
            <p>Buscamos inovação contínua na automação residencial, </p>
               <p> mantendo relações transparentes e duradouras com nossos clientes.</p>
              <p>  Comprometemo-nos com a excelência e qualidade,promovendo sustentabilidade </p>
              <p>  e priorizando a segurança dos dados e do ambiente dos nossos clientes.</p>
              </div>
            <div class="feijao">
                <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2023/04/sistema-inteligente-para-casas-1.jpg?w=1000"
                    alt="">
            </div>
        </div>
    </section>
</body>