@{
    ViewData["Title"] = "Favoritos";
}
<link rel="stylesheet" href="~/css/favorito.css">


<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
    <div class="org">
        <div class="org-text">
            <div class="fav">
                <h1><i class="fas fa-heart"></i> FAVORITOS</h1>
            </div>
            <div class="container-itens">
                <div class="container-item">
                    <div class="container-imagem">
                        <img src="~/img/produtos/camera.png" alt="">
                    </div>
                    <div class="container-textos">
                        <div class="container-text">
                            <p>Câmera Ip Icsee Hd 1080p Com Cartão De Memória 64gb.</p>
                        </div>
                        <div class="container-price">
                            <h2>R$ 252,90</h2>
                        </div>
                        <div class="container-button">
                            <button><a asp-controller="Produto" asp-action="Produto">Visualizar</a></button>
                            <i class="fas fa-trash"></i>
                        </div>
                    </div>
                </div>
                <div class="container-item">
                    <div class="container-imagem">
                        <img src="~/img/produtos/camera.png" alt="">
                    </div>
                    <div class="container-textos">
                        <div class="container-text">
                            <p>Câmera Ip Icsee Hd 1080p Com Cartão De Memória 64gb.</p>
                        </div>
                        <div class="container-price">
                            <h2>R$ 252,90</h2>
                        </div>
                        <div class="container-button">
                            <button><a asp-controller="Produto" asp-action="Produto">Visualizar</a></button>
                            <i class="fas fa-trash"></i>
                        </div>
                    </div>
                </div>
                <div class="container-item">
                    <div class="container-imagem">
                        <img src="~/img/produtos/camera.png" alt="">
                    </div>
                    <div class="container-textos">
                        <div class="container-text">
                            <p>Câmera Ip Icsee Hd 1080p Com Cartão De Memória 64gb.</p>
                        </div>
                        <div class="container-price">
                            <h2>R$ 252,90</h2>
                        </div>
                        <div class="container-button">
                            <button><a asp-controller="Produto" asp-action="Produto">Visualizar</a></button>
                            <i class="fas fa-trash"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>