@{
    ViewData["Title"] = "Favoritos";
}
<link rel="stylesheet" href="~/css/favoritos.css">

<body>
        <div class="container_fav">
            <section>
                <img class="img_fav" src="~/img/produtos/camera.png" alt="">
                <div class="text">
                    <li>Câmera Ip Icsee Hd 1080p Com Cartão De Memória 64gb.</li>
                    <div>
                        <h4 style="text-decoration: line-through;">R$ 299,90</h4>
                        <h1>R$ 252,90</h1>
                    </div>
                    <button class="btnExc">Excluir</button>
                </div>
            </section>
            <section>
                <img class="img_fav" src="~/img/produtos/porteira.png" alt="">
                <div class="text">
                    <li>Fechadura Digital de Embutir Intelbras FR320.</li>
                    <div>
                        <h4 style="text-decoration: line-through;">R$ 1.150,00</h4>
                        <h1>R$ 899,00</h1>
                    </div>
                    <button class="btnExc">Excluir</button>
                </div>
            </section>
            <section>
                <img class="img_fav" src="~/img/produtos/lampada.png" alt="">
                <div class="text">
                    <li>Lâmpada Inteligente Smart Color 10W Elgin RGB Wifi</li>
                    <div>
                        <h4 style="text-decoration: line-through;">R$ 49,90</h4>
                        <h1>R$ 39,57</h1>
                    </div>
                    <button class="btnExc">Excluir</button>
                </div>
            </section>
    </div>
</body>

