@{
    ViewData["Title"] = "Produtos";
}
<link rel="stylesheet" href="~/css/style.css">

<body>
    <div class="produtos1">

        <div>
            <img class="icone_seta" src="~/img/produtos/seta_esquerda.png">
        </div>

       <div class="fundo_opcao">
            <img class="icone_produto" src="~/img/produtos/lampada.png">
            <h1 class="nome_produto">Lâmpadas</h1>
       </div>

        <div class="fundo_opcao">
            <img class="icone_produto" src="~/img/produtos/porteira.png" />
            <h1 class="nome_produto">Fechaduras</h1>
        </div>

        <div class="fundo_opcao">
            <img class="icone_produto" src="~/img/produtos/camera.png" />
            <h1 class="nome_produto">Câmeras</h1>
        </div>

        <div class="fundo_opcao">
            <img class="icone_produto" src="~/img/produtos/porta.png" />
            <h1 class="nome_produto">Vídeo Porteiro</h1>
        </div>

        <div class="fundo_opcao">
            <img class="icone_produto" src="~/img/produtos/roteador.png" />
            <h1 class="nome_produto">Roteador</h1>
        </div>

        <div>
            <img class="icone_seta" src="~/img/produtos/seta_direita.png">
        </div>
    </div>

    <div class="produtos1">
        <img class="icone_pacote" src="~/img/produtos/pacote.jpeg"/>
        <img class="icone_pacote" src="~/img/produtos/pacote.jpeg"/>
        <img class="icone_pacote" src="~/img/produtos/pacote.jpeg"/>
    </div>



    <h1 class="titulo_produto">CAMERAS</h1>
    <div class="produtos2">
        <div class="fundo_solo">
            <a asp-area="" asp-controller="Produto" asp-action="Produto"><img class="icone_produto_solo" src="~/img/produtos/camera.png"></a>
            <h1 class="preco">R$115,59</h1>
            <h3 class="desc">Câmera Speed Dome</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/camera.png">
            <h1 class="preco">R$115,59</h1>
            <h3 class="desc">Câmera Speed Dome</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/camera.png">
            <h1 class="preco">R$115,59</h1>
            <h3 class="desc">Câmera Speed Dome</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/camera.png">
            <h1 class="preco">R$115,59</h1>
            <h3 class="desc">Câmera Speed Dome</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/camera.png">
            <h1 class="preco">R$115,59</h1>
            <h3 class="desc">Câmera Speed Dome</h3>
        </div>

        <div>
            <img class="icone_seta" src="~/img/produtos/seta_direita.png">
        </div>
    </div>


    <h1 class="titulo_produto">ROTEADORES</h1>
    <div class="produtos2">
        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/roteador.png">
            <h1 class="preco">R$239,99</h1>
            <h3 class="desc">Roteador Speed Dome</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/roteador.png">
            <h1 class="preco">R$239,99</h1>
            <h3 class="desc">Roteador Speed Dome</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/roteador.png">
            <h1 class="preco">R$239,99</h1>
            <h3 class="desc">Roteador Speed Dome</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/roteador.png">
            <h1 class="preco">R$239,99</h1>
            <h3 class="desc">Roteador Speed Dome</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/roteador.png">
            <h1 class="preco">R$239,99</h1>
            <h3 class="desc">Roteador Speed Dome</h3>
        </div>

        <div>
            <img class="icone_seta" src="~/img/produtos/seta_direita.png">
        </div>
    </div>


    <h1 class="titulo_produto">LAMPADAS</h1>
    <div class="produtos2">
        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/lampada.png">
            <h1 class="preco">R$19,90</h1>
            <h3 class="desc">Lampada Inteligente Zinnia</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/lampada.png">
            <h1 class="preco">R$19,90</h1>
            <h3 class="desc">Lampada Inteligente Zinnia</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/lampada.png">
            <h1 class="preco">R$19,90</h1>
            <h3 class="desc">Lampada Inteligente Zinnia</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/lampada.png">
            <h1 class="preco">R$19,90</h1>
            <h3 class="desc">Lampada Inteligente Zinnia</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/lampada.png">
            <h1 class="preco">R$19,90</h1>
            <h3 class="desc">Lampada Inteligente Zinnia</h3>
        </div>

        <div>
            <img class="icone_seta" src="~/img/produtos/seta_direita.png">
        </div>
    </div>

    <h1 class="titulo_produto">VIDEO PORTEIRO</h1>
    <div class="produtos2">
        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porta.png">
            <h1 class="preco">R$321,50</h1>
            <h3 class="desc">Vídeo Porteiro IVR 1010 Intelbras</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porta.png">
            <h1 class="preco">R$321,50</h1>
            <h3 class="desc">Vídeo Porteiro IVR 1010 Intelbras</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porta.png">
            <h1 class="preco">R$321,50</h1>
            <h3 class="desc">Vídeo Porteiro IVR 1010 Intelbras</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porta.png">
            <h1 class="preco">R$321,50</h1>
            <h3 class="desc">Vídeo Porteiro IVR 1010 Intelbras</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porta.png">
            <h1 class="preco">R$321,50</h1>
            <h3 class="desc">Vídeo Porteiro IVR 1010 Intelbras</h3>
        </div>

        <div>
            <img class="icone_seta" src="~/img/produtos/seta_direita.png">
        </div>
    </div>


    <h1 class="titulo_produto">FECHADURAS ELETRONICAS</h1>
    <div class="produtos2">
        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porteira.png">
            <h1 class="preco">R$411,90</h1>
            <h3 class="desc">Fechadura Digital de Sobrepor Touch Screen</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porteira.png">
            <h1 class="preco">R$411,90</h1>
            <h3 class="desc">Fechadura Digital de Sobrepor Touch Screen</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porteira.png">
            <h1 class="preco">R$411,90</h1>
            <h3 class="desc">Fechadura Digital de Sobrepor Touch Screen</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porteira.png">
            <h1 class="preco">R$411,90</h1>
            <h3 class="desc">Fechadura Digital de Sobrepor Touch Screen</h3>
        </div>

        <div class="fundo_solo">
            <img class="icone_produto_solo" src="~/img/produtos/porteira.png">
            <h1 class="preco">R$411,90</h1>
            <h3 class="desc">Fechadura Digital de Sobrepor Touch Screen</h3>
        </div>

        <div>
            <img class="icone_seta" src="~/img/produtos/seta_direita.png">
        </div>
    </div>
</body>
