@{
    ViewData["Title"] = "Favoritos";
}
<link rel="stylesheet" href="~/css/produto.css">
<body class="mx-auto">
    <div id="container_fav">
        <img id="img_produto" src="~/img/produtos/camera.png"/>
        <form id="form-fav">
            <div id="head_produto" class="mt-2">
                <label id="txt_produto">Câmera Segurança Vigilância Dome C/ Infra 2005 Ahd 1.3mp 2.8mm (22)</label>
                <img id="img_corazao" width="30px" height="30px" src="~/img/corazao.png" alt="Alternate Text" />
            </div>
            <div>
                <label id="preco_produto">R$115,59</label>
            </div>
            <div class="mb-3">
                <input id="btn_comprar" type="button" value="Comprar" />
                <input id="btn_carrinho" class="mt-2" type="button" value="Adicionar ao Carrinho" />
            </div>
        </form>
    </div>
</body>

